---
layout: base
---
{% assign other_posts = site.posts | where_exp: "post", "post.url != page.url" %}
{% assign random_fallback = other_posts | first %}
<main id="mainContent" tabindex="-1">
  <article class="blogpost">
    <h1 id="post-title">{{ page.title }}</h1>
    <time id="post-date" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %-d, %Y" }}</time>
    {% if page.tags.size > 0 %}
      <div class="post-tags">
        {% for tag in page.tags %}
          <a href="/tags/{{ tag }}/" class="tag-badge">{{ tag | capitalize }}</a>
        {% endfor %}
      </div>
    {% endif %}
    {{ content }}
  </article>
  <section class="post-comments" aria-label="Comments">
    <script src="/assets/js/giscus-loader.js" defer></script>
  </section>
  <section class="post-footer">
    <nav aria-label="Adjacent and random posts">
      <dl class="post-footer-nav">
        <div class="post-footer-row">
          <dt>Next</dt>
          <dd>
            {% if page.next %}
              <a href="{{ page.next.url }}">{{ page.next.title }}</a>
            {% else %}
              <em>No newer post</em>
            {% endif %}
          </dd>
        </div>
        <div class="post-footer-row">
          <dt>Previous</dt>
          <dd>
            {% if page.previous %}
              <a href="{{ page.previous.url }}">{{ page.previous.title }}</a>
            {% else %}
              <em>No older post</em>
            {% endif %}
          </dd>
        </div>
        <div class="post-footer-row">
          <dt>Random</dt>
          <dd>
            {% if random_fallback %}
              <a href="{{ random_fallback.url }}" id="random-post">{{ random_fallback.title | escape }}</a>
            {% else %}
              <em>No other post</em>
            {% endif %}
          </dd>
        </div>
      </dl>
    </nav>
    <ol class="post-footer-elsewhere">
      <li>
        <a href="/feed.xml">Subscribe via RSS</a>
      </li>
      <li>
        <a href="/about">Get to know me</a>
      </li>
      <li>{% include obfuscated-email.html text="Reply via email" %}</li>
    </ol>
  </section>
  <script src="/assets/js/random-post.js" defer></script>
</main>
